body {
  margin: 0;

  .temple-container {
    width: 100%;
    height: 100%;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 50%;
      width: auto;
      max-width: 80%;
    }
  }
}