body {
  font-family: "Poppins", sans-serif;
  color: #5f5f5f;
  margin: 0;

  .title {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 5rem;
    background: #1a93fe;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .back-to-temples {
      font-size: 4rem;
      position: absolute;
      left: 2rem;
      top: -4rem;
      color: white;
      text-decoration: none;
      animation: back-link-animate-in 0.4s ease 0.5s forwards;
    }

    .scroll-affordance-container {
      position: absolute;
      bottom: -4rem;
      transition: all 0.4s;
      animation: scroll-affordance-animate-in 0.4s ease 0.9s forwards;

      .scroll-mouse {
        height: 60px;
        width: 35px;
        display: flex;
        justify-content: center;
        border: solid white;
        border-radius: 50% / 28%;
        box-sizing: border-box;

        .scroll-dot {
          width: 13px;
          height: 13px;
          background: white;
          border-radius: 50%;
          margin-top: 8px;
          transition: all;
          animation: scroll-dot-animate 1.9s infinite;
        }
      }
    }
  }

  .temple-image-carousel {
    width: 100vw;
    height: 100vh;
    background: #1a93fe;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    .temple-image {
      height: 100vh;
      transition: all 0.4s;
      position: absolute;
      bottom: 0;
      right: 100px;
      left: 100px;
      margin: auto;

      &.right {
        right: -100vw !important;
        left: 100vw !important;
      }

      &.left {
        right: 100vw !important;
        left: -100vw !important;
      }
    }

    .carousel-tabs {
      position: absolute;
      bottom: 1rem;
      display: flex;
      align-items: flex-end;
      
      .tab {
        height: 35px;
        width: 35px;
        background: #1a93fe;
        border: solid 6px #1a93fe;
        border-radius: 16px;
        box-sizing: border-box;
        margin: 0 1rem;
        transition: all 0.4s;
        cursor: pointer;

        &:hover, &.active {
          height: 55px;
        }
      }
    }
  }
}

@keyframes scroll-dot-animate {
  0% {
      margin-top: 8px;
      height: 13px;
  }
  85% {
      margin-top: 32px;
      height: 13px;
  }
  92% {
      height: 18px;
  }
  100% {
      margin-top: 8px;
  }
}

@keyframes back-link-animate-in {
  0% {
    top: -4rem;
  }

  100% {
    top: 0;
  }
}

@keyframes scroll-affordance-animate-in {
  0% {
    bottom: -4rem;
  }

  100% {
    bottom: 1rem;
  }
}